.app {
  text-align: center;
}

.app-header {
  margin-bottom: 2rem;
}

.app-title {
  font-size: 2rem;
  color: #ffffff;
  margin: 3rem 0;
}

.app-divider {
  opacity: 0.3;
  margin-bottom: 2rem;
  border: none;
  border-top: 1px solid currentColor;
}

.app-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
